body {
    /* The image used */
    background-image: url("/pictures/body.jpg");
    width: 90%;
    height: 1900px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -40px;
    margin-left: 40px;
    margin-right: 10px;
}



.container {
    margin-top:10%;
    

}

h1 {
color: #5B2C6F;
margin-top: 5px;
margin-top: 10px;
font-family: 'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;
text-align: center;
/* background-color: lightgoldenrodyellow; */


}

.col{
margin-bottom: 20px;

}

.card-img-top {
height:50%;

}

ul {
    background-color: lightgoldenrodyellow;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    /* margin-top: 0;
    margin-bottom: 1rem; */
    /* text-align: center;
    padding-inline-start: 5px;  */
    margin:0px 0px 16px;
    padding:0px 0px 0px 40px;
}

.history-list{

background-color: lightgoldenrodyellow;
border-width: 0.5px;
border-radius: 5px;
text-align: center;
padding-inline-start: 10px;
padding-inline-end: 10px;
padding-top:5px;
padding-bottom:5px;
border-style: solid;
}

h4 {
text-align: left;
color:#5D6D7E;
font-family: 'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;
margin-top: 8px;
font-weight: 200;

}

h5 {
    
    color: #5D6D7E;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
    font-weight: 300;
}

.order-here {
    color:#455A64;
    
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
}

.order-history {
    color: #455A64;
    
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
}

#col-5 {
    margin:10px 0px 8px;
  

}


h2 {
    color: #283593;
    margin-top: 5px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
}

.remove-btn {
    font-size: 0.9rem;
    padding:2.5px;
    margin-right: 5px;
    /* margin-left: 65px; */
    color:white;
    background-color:#5B2C6F;
    text-align: right;
     
}

.btn-success {
    font-size: 1.5rem;
    padding: 1.5px 4px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top:5px;
}

.showDetails {
font-size: 1rem;
padding: 1.5px 4px;
margin-right: 5px;
margin-left: 5px;
margin-top:5px;
font-family: inherit;
font-weight: 10;
}

.order-btn {
    font-size: 0.9rem;
    padding: 2.5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color:#5B2C6F;
    color:white;
}


.card-text{
color: #5D6D7E;
font-family: 'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;
font-weight: 50;

}

.button,
input,
optgroup,
select,
textarea {

font-size: small;

}

.total{
color: #5D6D7E;
font-family: 'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;
font-weight: 50;
font-size: 2rem;
}

.remove-btn:hover {
    color:white;
}

.card-body {
background-color: lightgoldenrodyellow;
}


.img-size {
block-size: 50%;

}



#card-body{

background-color: lightgoldenrodyellow;

/* margin-top:-10px; */
margin-bottom:20px;
}


.navbar {

background-color:#BDBDBD;
border: 2px solid gray;
border-radius: 5px;
}

.company_name{

float:inline-end;

}


container-fluid{
padding-top:10px;
padding-bottom: 10px;

}

#cart{
padding-inline-start: 0px;

}

.col-9 {
    padding-left:25px;
    padding-right:0px;
    
    
}
.col-2 {
    padding-left: 0px;
    padding-right: 10px;
    text-align: right;
    margin-right:0px;
    margin-left:0px;
}
.orderhere_row{
margin-top:5px;
margin-bottom: 10px;


}